@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------------Header section--------------------------------------------*/
header{
    padding: 15px 8%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgba(250, 195, 45, 0.534);*/
    z-index: 100;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 8%;
    background: rgba(114, 97, 65, 0.644);
}

.navlist{
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.navlist li{
    margin: 0 1rem;
    font-size: 15px;
}

.navlist li a{
    display: inline-flex;
    font-weight: 600;
    color: white;
}

.navlist li a:hover, .navlist li a.active{
    color: #ffcc24;
}

header .logo{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

span{
    color: rgb(226, 180, 30);
}

.menu-icon{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    /*background-color: #ffcc24;*/
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before{
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: #ffcc24;
    margin: 6px 0;
    transition: .4s;
}

.menu-icon.active::before{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.active::after{
    transform: rotate(45deg) translate(-8px, -8px);
}
.menu-icon.active .bar{
    opacity: 0;
}

/*-----------------------------------------End Header section--------------------------------------------*/

/*------------------------------------------Home section-------------------------------------------------*/
section{
    padding: 0px 8%;
    display: block;
}

.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
}

.content{
    max-width: 600px;
}

#home{
    background-image: url(./Img/portfolio-bg1.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#home h4{
    color: #ffe17e8a;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#home h2{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: white;
}

#home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

.change-text h3{
    font-weight: 500;
    font-size: 3rem;
    color:white
}

.change-text h3 span{
    position: relative;
    color: transparent;
    left: 15px;
    -webkit-text-stroke: 0.1vw #e2b41e;
    background-color: #e2b41e;
    font-weight: 600;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 2px;
    animation: moveText 3s linear infinite;
    animation-delay: 2s;
}

.change-text h3 span::before{
    content: "";
    position: absolute;
    top: 7px;
    left: -3px;
    width: 0;
    height: 70%;
    border-right: 3px solid #e2b41e;
    animation: moveCursorText 4s linear infinite;
    animation-delay: 2s ;
}

/*----------------------------@keyfram---------------------------------------------*/
@keyframes moveText{
    0%,10%,100%{
        background-position: -24rem 0;
    }

    65%,85%{
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText{
    0%,10%,100%{
        width: 0;
    }

    65%, 78%, 85%{
        width: 100%;
        opacity: 1;
    }

    75%, 85%{
        opacity: 0;
    }
}

/*--------------------------------------------@ end keyfram---------------------------------------------*/

#home p{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 350;
    color: white;
}
#home .cta{
    display: inline-block;
    padding: 10px 30px;
    color: black;
    font-weight: 600;
    background-color: rgb(226, 180, 30);
    border: 3px solid rgb(226, 180, 30);
    border-radius: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .5s ease;
    pointer-events: auto;
}
#home .cta:hover{
    color: #e2b41e;
    background-color: transparent;
}

.social-icon{
    display: block;
}

.social-icon a{
    margin-top: 7rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid rgb(226, 180, 30);
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(226, 180, 30);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-icon a:hover{
    background: #e2b41e;
    color: #000000;
    box-shadow: 0 0 1rem var(#e2b41e);
}

.home-image{
    position: relative;
}

.img-box{
    text-align: center;
}

.img-box img{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
}
/*-----------------------------------------End Home section-----------------------------------------------*/

/*-----------------------------------------About section style-----------------------------------------------*/
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    margin-top: 20px;
}

.about .about-img{
    position: relative;
    padding: 50px 0;
}

.about-content h2{
    color: black;
    font-size: 4rem;
    font-weight: 700;
}

.about-content h3{
    font-size: 2.1rem;
    line-height: 2rem;
    justify-content: center;
    color: #00000059;
    margin: .5rem 1.5rem;
}
.about-content p{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
    display: flex;
    text-align: justify;
}

.about-content h4{
    font-size: 1.7rem;
    margin-top: 20px;
    color: orange;
    font-weight: 600;
    display: block;
}

.about-content h5{
    font-size: 2rem;
    margin-top: 5px;
    color: color;
    font-weight: 600;
    display: block;
}

.about-btn{
    margin: 3rem;
    font-size: 1.5rem;
    padding: 10px 10px;
}

.about-btn a{
    gap: 8px;
    margin-right: 1.5rem;
    background: #ffffff;
    color: #e2b41e;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid #ffcc24;
    box-shadow: 5px 10px 5px rgba(255, 153, 0, 0.363),
                3px 8px 6px rgba(255, 129, 12, 0.23);
}

.about-btn .btn{
    padding: 10px;
    align-items: center;
    font-weight: 600;
}

.btn:hover{
    background-color: #ffcc24;
    color: white;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19),
                0px 6px 6px rgba(0,0,0,0.23);
}


/*-----------------------------------------End About section style-----------------------------------------------*/

/*-----------------------------------------Portfolio section style-----------------------------------------------*/
.portfolio{
    background-color: #ffa60038;
    min-height: 125vh;
    width: 100%;
}

.portfolio h2{
    margin-top: 4rem;
    color: black;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}

.portfolio h3{
    font-size: 2.1rem;
    line-height: 2rem;
    text-align: center;
    color: #00000059;
    margin-bottom: 3rem;
}

.portfolio .brief-content{
    margin-bottom: 5rem;
}
.portfolio ul{
    font-size: 2.3rem;
    line-height: 2rem;
    align-items: center;
    color: black;
    font-weight: 600;
    list-style: none;
}

.portfolio ul li{
    margin-bottom: 15px;
    text-align: center;
}

.portfolio ul li span{
    color: #914d00;
    font-size: 3.5rem;
    font-weight: bold;
}

.portfolio ul li span i{
    font-size: 3rem;
    font-weight: 800;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
    box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.19), 
                6px 10px 10px rgba(0, 0, 0, 0.23);
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 176, 57), #ffa500);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.6s cubic-bezier(0, 0.6, 0.81, 0.45);
}
.portfolio-box:hover .portfolio-layer{
    transform: rotateY(0deg);
}

.portfolio-layer h4{
    font-size: 3rem;
    font-weight: 700;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: #ffa500;
}
/*-----------------------------------------End Portfolio section style-----------------------------------------------*/

/*-----------------------------------------Responsive media--------------------------------------------*/
@media (max-width: 1104px){
    .home .container{
        margin-left: 8%;
    }
}

@media (max-width: 940px){
    
}

@media (max-width: 940px){
    .navbar{
        padding: 0 50px;
    }
    .menu-icon{
        display: block;
        z-index: 999;
    }
    .navbar .navlist{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: black;
        left: 0;
        top: 0;
        text-align: center;
        display: inline-block;
        padding-top: 80px;
    }
    .navbar .navlist li{
        display: block;
    }
    .navlist a{
        margin: 20px 0;
        font-size: 25px;
    }
}
