@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*-----------------------------------------Header section--------------------------------------------*/
header{
    padding: 15px 8%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgba(250, 195, 45, 0.534);*/
    z-index: 100;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 8%;
    background: rgba(114, 97, 65, 0.966);
}

.navlist{
    list-style: none;
    justify-content: space-between;
    display: flex;
}

.navlist li{
    margin: 0 1rem;
    font-size: 15px;
}

.navlist li a{
    display: inline-flex;
    font-weight: 600;
    color: white;
}

.navlist li a:hover, .navlist li a.active{
    color: #ffcc24;
}

header .logo{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

span{
    color: rgb(226, 180, 30);
}

.menu-icon{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    /*background-color: #ffcc24;*/
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: #ffcc24;
    margin: 6px 0;
    transition: .4s;
}

.menu-icon.active::before{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.active::after{
    transform: rotate(45deg) translate(-8px, -8px);
}
.menu-icon.active .bar{
    opacity: 0;
}

/*-----------------------------------------End Header section--------------------------------------------*/

/*------------------------------------------Home section-------------------------------------------------*/
section{
    padding: 0px 8%;
    display: block;
}

.home{
    min-height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4em;
}

.content{
    max-width: 700px;
}

#home{
    background-image: url(./Img/portfolio-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black ;
    opacity: .7;
    z-index: -1;
}

#home h4{
    color: #ffe17e8a;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#home h2{
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: white;
}

#home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

.change-text h3{
    font-weight: 500;
    font-size: 3rem;
    color:white
}

.change-text h3 span{
    position: relative;
    color: transparent;
    left: 15px;
    -webkit-text-stroke: 0.1vw #e2b41e;
    background-color: #e2b41e;
    font-weight: 600;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 2px;
    animation: moveText 3s linear infinite;
    animation-delay: 2s;
}

/*----------------------------@keyfram---------------------------------------------*/
@keyframes moveText{
    0%,10%,100%{
        background-position: -24rem 0;
    }

    65%,85%{
        background-position: 0rem 0;
    }
}

@keyframes moveCursorText{
    0%,10%,100%{
        width: 0;
    }

    65%, 78%, 85%{
        width: 100%;
        opacity: 1;
    }

    75%, 85%{
        opacity: 0;
    }
}

/*--------------------------------------------@ end keyfram---------------------------------------------*/

#home p{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 350;
    color: white;
}
#home .cta{
    display: inline-block;
    padding: 10px 30px;
    color: black;
    font-weight: 600;
    background-color: rgb(226, 180, 30);
    border: 3px solid rgb(226, 180, 30);
    border-radius: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .5s ease;
    pointer-events: auto;
}
#home .cta:hover{
    color: #e2b41e;
    background-color: transparent;
}

.social-icon{
    display: block;
}

.social-icon a{
    margin-top: 7rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid rgb(226, 180, 30);
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(226, 180, 30);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-icon a:hover{
    background: #e2b41e;
    color: black;
    box-shadow: 0 0 1rem var(#e2b41e);
}

.home-image{
    position: relative;
}

.img-box{
    text-align: center;
}

.img-box img{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: auto;
}
/*-----------------------------------------End Home section-----------------------------------------------*/

/*-----------------------------------------About section style-----------------------------------------------*/
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.about .about-img{
    position: relative;
    padding: 50px 0;
}

.about-content h2{
    color: black;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 3rem;
}

.about-content h3{
    font-size: 2.1rem;
    line-height: 2rem;
    justify-content: center;
    color: #00000059;
    margin: .5rem 1.5rem;
}
.about-content p{
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
    display: flex;
    text-align: justify;
}

.about-content h4{
    font-size: 1.7rem;
    margin-top: 20px;
    color: orange;
    font-weight: 600;
    display: block;
}

.about-content h5{
    font-size: 2rem;
    margin-top: 5px;
    color: color;
    font-weight: 600;
    display: block;
}

.about-btn{
    display: flex;
    flex-direction: row;
    margin: 3rem;
    font-size: 1.5rem;
    padding: 10px 10px;
    width: 100%;
}

.about-btn a{
    
    gap: 8px;
    margin-right: 1.5rem;
    background: #ffffff;
    color: #e2b41e;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid #ffcc24;
    box-shadow: 5px 10px 5px rgba(255, 153, 0, 0.363),
                3px 8px 6px rgba(255, 129, 12, 0.23);
}

.about-btn .btn{
    padding: 10px;
    align-items: center;
    font-weight: 600;
}

.about-btn .btn:hover{
    background-color: #ffcc24;
    color: white;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19),
                0px 6px 6px rgba(0,0,0,0.23);
}


/*-----------------------------------------End About section style-----------------------------------------------*/

/*-----------------------------------------Portfolio section style-----------------------------------------------*/
.portfolio{
    background: linear-gradient(#ffa60038, #ffdc9a2d);
    min-height: 130vh;
    width: 100%;
}

.portfolio h2{
    margin-top: 4rem;
    color: black;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}

.portfolio h3{
    font-size: 2.1rem;
    line-height: 2rem;
    text-align: center;
    color: #00000059;
    margin-bottom: 3rem;
}

.portfolio .brief-content{
    margin-bottom: 5rem;
}
.portfolio ul{
    font-size: 2.3rem;
    line-height: 2rem;
    align-items: center;
    color: black;
    font-weight: 600;
    list-style: none;
}

.portfolio ul li{
    margin-bottom: 15px;
    text-align: center;
}

.portfolio ul li span{
    color: #914d00;
    font-size: 3.5rem;
    font-weight: bold;
}

.portfolio ul li span i{
    font-size: 3rem;
    font-weight: 800;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 2rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
    box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.19), 
                6px 10px 10px rgba(0, 0, 0, 0.23);
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 176, 57), #ffa500);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.6s cubic-bezier(0, 0.6, 0.81, 0.45);
}
.portfolio-box:hover .portfolio-layer{
    transform: rotateY(0deg);
}

.portfolio-layer h4{
    font-size: 3rem;
    font-weight: 700;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: #ffa500;
}
/*-----------------------------------------End Portfolio section style-----------------------------------------------*/

/*-----------------------------------------Skills & Education section style-----------------------------------------------*/

.skillEducation{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
}

.education, .skills .container{
    width: 550px;
    height: 100%;
    background: rgba(255, 255, 255, 0.397);
    box-shadow: 0px 2px 4px rgba(67, 65, 60, 0.3);
    padding: 1rem;
    border-radius: 1rem;
}

.education .main-text h2, .skills .main-text h2{
    color: black;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}

.main-text h3{
    font-size: 2.1rem;
    line-height: 2rem;
    text-align: center;
    color: #00000059;
    margin-bottom: 3rem;
}

.education-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.education-content{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.education-content .logo img{
    width: 50px;
}

.education-content .details h3{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    padding: 0 10px 5px 10px;
}

.education-content .details h4{
    font-size: 1.7rem;
    color: rgb(61, 61, 61);
    font-weight: 600;
    padding: 0 10px 5px 10px;
}

.education-content .details p{
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
    font-weight: 500;
    padding: 0 10px 5px 10px;
}

.skills .fillter-btns{
    text-align: center;
    margin-bottom: 3rem;
    width: 300PX;
    margin: 35px auto;
    border: 2px solid #ffcc24;
    position: relative;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.fillter-btns button{
    position: relative;
    color: #ffcc24;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-box{
    left: 0;
    top: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: #ffcc24;
    transition: .5s;
}

.fillter-btns button:hover, button.active{
    color: white;
    background-color: #ffcc24 ;
}

.tools{
    padding-left: 20px;
    display: block;
}

.tools p{
    font-size: 1.5rem;
    padding: 30px 0 0 10px;
    font-weight: 600;
    color: #4b4b4b;
}

.tool-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 3rem;
    margin-left: 10px;
    justify-content: center;
}

.tool-box img{
    width: 50px;
}

.tool-box p{
    font-size: 1.5rem;
}

.techperson{
    position: relative;   
}

.techperson .personal{
    position: relative;
    display: none;
    justify-content: center;
    flex-direction: column;
}

.personal-box{
    height: 100%;
}

.personal-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5rem;
    color: #2c2c2c;
    font-weight: 500;
    align-items: center;
    gap: 3rem;
    margin-left: 10px;
    justify-content: center;
}

/*-----------------------------------------End Skills & Education section style-----------------------------------------------*/

/*-----------------------------------------Gallery section style-----------------------------------------------*/
.gallery{
    margin-top: 3rem;
    background: linear-gradient(#ffa60038, #ffdc9a2d);
}

.gallery h2{
    color: black;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem 2rem 0 2rem;
}

.gallery h3{
    font-size: 2.1rem;
    line-height: 2rem;
    text-align: center;
    color: #00000059;
    margin-bottom: 3rem;
}

.gallery .gallery-btns{
    text-align: center;
    margin-bottom: 3rem;
    width: 350px;
    margin: 35px auto;
    border: 2px solid #ffcc24;
    position: relative;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

.gallery-btns button{
    position: relative;
    color: #ffcc24;
    background: transparent;
    border: none;
    width: 113px;
    font-size: 2rem;
    border-radius: 25px;
    padding: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}

.gallery-btns button:hover, .gallery-btns button.active{
    color: rgb(0, 0, 0);
    background-color: #ffcc24 ;
}

.galleryItems{
    display: block;
}

.interestItem, .sportItem{
    display: none;
}

.gallery-container{
    height: 100%;
}

.gallery-box, .interest-box{
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.interestItem .interest-content{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 10px;
    align-items: center;
    margin-bottom: 3rem
}

.interest-content h4{
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.gallery-box{
    height: 100%;
}

.gallery-content-box{
    height: 100%;
}

.gallery-content{
    position: relative;
    overflow: hidden;
    transition: .5s ease;
}

.gallery-content .gallery-layer{
    position: absolute;
    border-radius: 0 1rem 1rem 0;
    bottom:40px;
    left: 0;
    width: 90%;
    height: 130px;
    background: rgba(255, 255, 255, 0.897);
    display: flex;
    padding: 0 0 0 2rem;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    transform: translateX(-100%);
    transition: .5s;
}

.gallery-content:hover .gallery-layer{
    transform: translate(0%);
}

.gallery-layer h4{
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 700;
    padding-bottom: 10px;
}

.gallery-layer p{
    font-size: 1.5rem;
    color: #2b2b2b;
    font-weight: 500;
    padding-bottom: 5px;
}

.gallery-content img{
    width: 100%;
    border-radius: 2rem;   
}

.sport-content{
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.sport-box-card{
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column ;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 4px rgba(67, 65, 60, 0.3);
    border-radius: 1rem;
}

.sport-box-card h3{
    color: #2c2c2c;
    font-size: 2.2rem;
    font-weight: 600;
}

.sport-box-card p{
    color: #535353;
    font-size: 1.5rem;
    font-weight: 500;
}

/*-----------------------------------------End Gallery section style-----------------------------------------------*/

/*-----------------------------------------Contact section style-----------------------------------------------*/

.contact h2{
    color: black;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 3rem 2rem 0 2rem;
}

.contact .main-text h3{
    font-size: 2.1rem;
    line-height: 2rem;
    text-align: center;
    color: #00000059;
    margin-bottom: 3rem;
}

.contactMe{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.contact-details{
    width: 500px;
    height: 100%;
}

.details {
    display: block;
}

.details h4{
    font-size: 1.5rem;
    font-weight: 600;
    color: #0000008c;
    padding: 1rem;
}

.details h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: #181818;
    text-align: left;
    padding: 1rem;
}

.details .social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 2px solid rgb(226, 180, 30);
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(226, 180, 30);
    transition: .5s ease;
}

.details .social-icon a:hover{
    background: #e2b41e;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem var(#e2b41e);
}

.contact-box{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.397);
    box-shadow: 0px 2px 4px rgba(67, 65, 60, 0.3);
    padding: 1rem;
    border-radius: 1rem;
}

.contact-box input, 
.contact-box form textarea{
    width: 100%;
}

.contact-box form input, 
.contact-box form textarea{
    padding: 1rem;
    border: 2px solid #fdedb7;
    margin: .5rem 0;
    border-radius: 7px;
    background: #fde9c41a;
    outline: none;
    transition: .3s;
}

.contact-box form .form-box{
    font-size: 2rem;
}

form input:focus, form textarea:focus{
    filter: brightness(100%);
    background: rgb(238, 238, 255);
    border: 2px solid rgb(255, 229, 229);
}

form textarea{
    resize: none;
}

form .fromBtn{
    padding: 0 1rem; 
}

form .btn{
    font-size: 2rem;
    font-weight: 600;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    background: #ffcc24;
    color: #ffffff;
    border-radius: 5px;
    transition: all .3s ease;
    box-shadow: 0px 2px 4px rgba(67, 65, 60, 0.3);
}

form .btn:hover{
    box-shadow: 0px 2px 10px #ffcc24;
}

.message{
    width: 100%;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.message .success{
    font-size: 1.5rem;
    font-weight: 600;
    color: green;
    position: absolute;
    transition: .3s;
    animation: button .4s linear;
    display: none;
}

.message .danger{
    font-size: 1.5rem;
    font-weight: 600;
    color: red;
    position: absolute;
    transition: .3s;
    animation: button .4s linear;
    display: none;
}

@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
/*-----------------------------------------End Contact section style-----------------------------------------------*/

/*-----------------------------------------footer style-----------------------------------------------*/

footer{
    text-align: center;
    padding: 4rem 0;
    background: rgb(66, 66, 66);
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-top: 3rem;
}

#progress{
    position: fixed;
    /*background: #e2b41e ;*/
    z-index: 1000;
    bottom: 110px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#progress-value{
    display: grid;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    background-color: #ffcc24;
    border-radius: 50%;
    color: white;
    place-items: center;
    font-size: 25px;
}
/*-----------------------------------------End footer style-----------------------------------------------*/

/*-----------------------------------------Responsive media--------------------------------------------*/
@media (max-width: 1200px){
    html{
        font-size: 60%;
    }
    .skill .education, .skill .container{
        width: 100%;
    }
    .box-content{
        width: 500px;
    }
    .skills .fillter-btns{
        width: 290px;
    }

}

@media (max-width: 991px){
    header,section,footer{
        padding-left: 4%;
        padding-right: 4%;
    }
    .about{
        gap: 0;
        flex-direction: column-reverse;
    }
    .about .about-img{
        padding: 10px;
    }
    .about-btn{
        margin: 0;
    }
    .contactMe{
        flex-direction: column;
    }
    .about .about-img .aboutMe{
        width: 100%;
        padding: 10px;
    }
    .gallery .sport-box-card{
        padding-left: 4%;
        padding-right: 4%;
        width: 100%;
    }
    .skillEducation{
        flex-direction: column-reverse;
    }
    .skill .education, .skill .container{
        width: 100%;
        height: 100%;
    }
    .box-content{
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px;
    }
    .skills .fillter-btns{
        width: 290px;
    }
    .contact .contact-details{
        width: 100%;
    }
    .portfolio-container, .gallery-box, .interest-box {
        grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    }
    .interestItem .interest-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
    }
}

@media (max-width: 768px){
    html{
        font-size: 60%;
    }
    .menu-icon .bar, .menu-icon::after, .main-icon::before{
        display: block;
    }
    .navbar{
        padding: 0 50px;
    }
    .menu-icon{
        display: block;
        z-index: 999;
    }
    ul.navlist{
        position: absolute;
        width: 100%;
        background: black;
        left: 0;
        top: -1000px;
        text-align: center;
        display: block;
        padding-top: 60px;
        transition: all .3s ease;
    }
    .navbar .navlist li{
        width: 100%;
        display: block;
    }
    .navlist a{
        margin: 20px 0;
        font-size: 25px;
    }
    .navlist.active{
        top: 100%;
    }
    .overlay{
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 8;
        opacity: 0;
        transform: .3s;
        pointer-events: none;
    }
    body.open .overlay{
        opacity: 1;
        pointer-events: auto;
    }
    section{
        padding-left: 4%;
        padding-right: 4%;
    }
    .home{
        grid-gap: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .skills .fillter-btns{
        width: 243px;
    }
    .skills .fillter-btns button{
        font-size: 1.2rem;
    }
    .gallery .sport-box-card{
        padding-left: 4%;
        padding-right: 4%;
        width: 100%;
    }
}

@media (max-width: 530px){
    html{
        font-size: 70%;
    }
    #home h2, #home h1{
        font-size: 2rem;
    }
    section{
        padding: 50px 3%;
    }
    .about-btn .btn{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
    }
    .skills .fillter-btns{
        width: 240px;
    }
    .skills .fillter-btns button{
        font-size: 1rem;
    }
    .tool-box img{
        width: 40px;
    }
    .gallery .gallery-btns{
        width: 250px;
    }
    .gallery-btns button{
        font-size: 1.5rem;
        width: 80px;
    }
    .sport-content{
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    }
    .sport-box-card h3{
        font-size: 1.5rem;
    }
    .details h3, .details h4{
        font-size: 1rem;
    }
}

